<img src="assets/images/ajax-loader.gif" class="loader" *ngIf="loader">
<!--End of loader-->
<div class="products-container" *ngFor="let product of products" (click)="viewSingleProduct(product.key)">
  <div class="products-item">
    <h1 class="product-name" align="center">{{product.productName}}</h1>
    <img [src]="product.FileUrl" class="product-img">
  </div>
  <div class="products-item">
    <table>
      <tr>
        <td class="product-car-labels">Car Price:</td>
        <td>KES {{product.productPrice | number}}</td>
      </tr>
      <tr>
        <td class="product-car-labels">Sale Date:</td>
        <td>{{product.productSaleDate}}</td>
      </tr>
      <tr>
        <td class="product-car-labels">Color:</td>
        <td>{{product.productColor}}</td>
      </tr>
      <tr>
        <td class="product-car-labels">In Stock:</td>
        <td>{{product.productInStock}}</td>
      </tr>
    </table>
    <div class="call-to-action-container">
      <div class="call-to-action-button active-to-action">
        <p class="call-to-action-button-text">ADD TO CART</p>
      </div>
      <div class="call-to-action-button">
        <p class="call-to-action-button-text">COMPARE</p>
      </div>
    </div>
  </div>
</div>
