<div class="form-group">
  <h4 class="title-upload-product">
    New Car
  </h4>
  <div class="divider"></div>
</div>

<div class="form-group">
  <div *ngIf="currentFileUpload" class="progress" style="width:100%">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
      attr.aria-valuenow="{{ progress.percentage }}" aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{ width: progress.percentage + '%' }">
      {{ progress.percentage }}%
    </div>
  </div>
</div>

<form #uploadProduct="ngForm">
  <div class="form-group">
    <label class="labels">Car Name</label><br />
    <input type="text" class="inputs" required [(ngModel)]="productDetails.productName" placeholder="product name here" name="productName" />
  </div>
  <div class="form-group">
    <label class="labels">Price</label><br />
    <input type="text" class="inputs" required [(ngModel)]="productDetails.productPrice" placeholder="KES 0.00" name="productPrice" />
  </div>
  <div class="form-group">
    <label class="labels">In Stock</label><br />
    <select type="text" class="inputs" required [(ngModel)]="productDetails.productInStock" placeholder="MDF" name="productInStock">
      <option value="Available">Available</option>
      <option value="Not Available">Not Available</option>
    </select>
  </div>
  <div class="form-group">
    <label class="labels">Sell Date</label><br />
    <input type="text" class="inputs" required [(ngModel)]="productDetails.productSaleDate" placeholder="2019-01-10" name="productSaleDate" />
  </div>
  <div class="form-group">
    <label class="labels">Color</label><br />
    <input type="text" class="inputs" required [(ngModel)]="productDetails.productColor" placeholder="Charcoal" name="productColor" />
  </div>
  <div class="form-group">
    <label class="labels">Product Image File</label><br />
    <input type="file" class="files" (change)="selectFile($event)" required placeholder="select file" name="files" />
  </div>
  <div class="form-group">
    <button [disabled]="!uploadProduct.valid" (click)="upload()" class="btn-primary btn">
      SAVE PRODUCT
    </button>
  </div>
</form>
