<div class="dashboard-container-wrapper">
  <app-navigation></app-navigation>>
  <!-- End of navigation -->
  <div class="single-product-view-container">
    <div class="single-product-inner-wrap">
      <div class="single-product-items">
        <div class="form-group">
          <h4 class="title-upload-product">
            {{productDetails.productName}}
          </h4>
          <div class="divider"></div>
        </div>

        <form #updateProduct="ngForm">
          <div class="form-group">
            <label class="labels">Car Name</label><br />
            <input type="text" class="inputs" required [(ngModel)]="productDetails.productName"
                   placeholder="product name here" name="productName" />
          </div>
          <div class="form-group">
            <label class="labels">Price</label><br />
            <input type="text" class="inputs" required [(ngModel)]="productDetails.productPrice" placeholder="KES 0.00"
                   name="productPrice" />
          </div>
          <div class="form-group">
            <label class="labels">In Stock</label><br />
            <select type="text" class="inputs" required [(ngModel)]="productDetails.productInStock" placeholder="MDF"
                    name="productInStock">
              <option value="Available">Available</option>
              <option value="Not Available">Not Available</option>
            </select>
          </div>
          <div class="form-group">
            <label class="labels">Sell Date</label><br />
            <input type="text" class="inputs" required [(ngModel)]="productDetails.productSaleDate"
                   placeholder="2019-01-10" name="productSaleDate" />
          </div>
          <div class="form-group">
            <label class="labels">Color</label><br />
            <input type="text" class="inputs" required [(ngModel)]="productDetails.productColor" placeholder="Charcoal"
                   name="productColor" />
          </div>
          <div class="form-group">
            <button [disabled]="!updateProduct.valid" (click)="update()" class="btn-primary btn">
              UPDATE PRODUCT
            </button>
          </div>
        </form>

      </div>
      <div class="single-product-items">
        <div class="car-placeholder">
          <div class="form-group">
            <div *ngIf="currentFileUpload" class="progress" style="width:100%">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                   attr.aria-valuenow="{{ progress.percentage }}" aria-valuemin="0" aria-valuemax="100"
                   [ngStyle]="{ width: progress.percentage + '%' }">
                {{ progress.percentage }}%
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="labels">Change product image</label><br />
            <input type="file" class="files" (change)="selectFile($event)" placeholder="select file"
                   name="files" />
          </div>
          <img *ngIf="productDetails" [src]="productDetails.FileUrl" class="product-img" alt="product image">
        </div>
        <div class="call-to-action-delete">
          <button (click)="deleteProduct(productDetails.key, productDetails.fileName)" class="btn-danger btn">
            DELETE PRODUCT
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Start of footer -->
  <app-footer></app-footer>
</div>
