.dashboard-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 5%;
}

.dashboard-inner-wrapper {
  display: flex;
  width: 100%;
  margin: auto;
}

.dashboard-partition {
  flex: 1;
  border: thin solid #e3e3e3;
  padding: 2rem;
}

.dashboard-partition:first-child {
  flex-basis: 25%;
}

.dashboard-partition:last-child {
  flex-basis: 75%;
}

app-products /deep/ .products-container {
  background: #fff;
}

app-products /deep/ .products-container .call-to-action-container {
  width: 100%;
}

.dashboard-container-wrapper {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .dashboard-container-wrapper {
    width: 100%;
  }
  .dashboard-inner-wrapper {
    display: block;
  }
  .dashboard-partition {
    /*width: 100%;*/
  }
}
