#row {
  width: 25%;
  border: thin solid #e3e3e341;
  margin: 10% auto;
  padding: 2rem;
  text-align: center;
}

.btn-login {
  border-radius: 0px;
  height: 50px;
  background: #666666;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  width: 250px;
  font-weight: bold;
  outline: 0;
  box-shadow: none;
  border: thin solid #e3e3e3;
}

.inputs {
  height: 50px;
  border: thin solid #e3e3e3;
  padding: .8rem;
  border-radius: 3px;
  width: 250px;
}

.inputs, .btn-login {
box-sizing: border-box;
margin: auto;
text-align: center;
}

.form-group {
margin-bottom: 2%;
}
